{% extends "base.html" %}
{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{%endblock%}
{% block content %}
    <div class='article'>
      <div class="row-fluid">
           <div class="content-title span9">
             <h1>{{ article.title }}</h1>
           </div>
      </div>
    <div class="row-fluid">
      <div class="span2">
	{% include "article-sidebar.html" %}
      </div>
      
      <div class="span8">
	{{ article.content }}
	<hr />
        {% if PLUSONE_SITEURL and SITEURL and article.status != "draft" %}
          <h4>Comments</h4>
          {% include 'gplus.html' %}
        {% endif %}
      </div>
    </div>
    </div>
{% endblock %}
